body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
}

h3 {
  text-align: center;
}

#center {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#front {
  width: 70vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.3);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  color: #5a4d3c;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

#map {
  height: 80vh;
  width: 90vw;
}

#flex-map {
  display: flex;
  justify-content: center;
}

#body {
  background-image: url("assets/topo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#lower-text {
  display: flex;
}

#sponsor-info {
  flex-basis: 40%;
  text-align: center;
  padding-top: 20px;
}

#abstract {
  flex-basis: 60%;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
}

#bottom-text {
  text-align: center;
  padding: 20px;
}

#spacer {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}
