body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
}

h3 {
  text-align: center;
}

#center {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#front {
  width: 70vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.3);
  outline: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  color: #5a4d3c;
  border-radius: 40px;
}

#map {
  height: 80vh;
  width: 90vw;
}

#flex-map {
  display: flex;
  justify-content: center;
}

#body {
  background-image: url("assets/topo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
