body {
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  padding: 10px;
}

h3 {
  text-align: center;
}

#center {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#front {
  width: 70vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.05);
  outline: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

#map {
  height: 80vh;
  width: 90vw;
}

#flex-map {
  display: flex;
  justify-content: center;
}

#body {
  background-image: url("assets/map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#lower-text {
  display: flex;
}

#sponsor-info {
  flex-basis: 40%;
  text-align: center;
  padding-top: 20px;
}

#abstract {
  flex-basis: 60%;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
}

#bottom-text {
  text-align: center;
  padding: 40px;
}

#spacer {
  flex: 0.8;
}

html {
  scroll-behavior: smooth;
}

#map-button {
  padding: 12px 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px);
  color: white;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transition: 0.25s ease;
}

#map-button:hover {
  background: rgba(255, 255, 255, 0.05);
}
